.link-list {
    max-width: 100%;
    margin: 0 auto;
    padding: 90px 0px 0px 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    /* max-height: calc(100vh - 20px); */
    box-sizing: border-box;
}

.link-list .header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
    position: absolute;
    top: 40px;
    text-wrap: auto;
    left: 10px;
    right: 10px;
}

.link-list-effects {
    display: flex;    
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
}

.link-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    overscroll-behavior: contain;
    scroll-padding-top: 50px;
    scroll-padding-bottom: 50px;
}


.link-item {
    margin-bottom: 15px;
    font-size: 1.2rem;
    line-height: 1.5;
    width: calc(100% - 8vw);
    padding: 5px;
}

.link-item:hover {
    background-color: rgba(54, 103, 125, 0.1);
    border-radius: 5px;
}
.top-gradient, .bottom-gradient {
    width: 100%;
    height: 30px;
    pointer-events: none;
    position: absolute;
    border: none;
    display: none;
}
.top-gradient {
    background: linear-gradient(to top, rgba(255, 0, 255, 0.0) 0%, rgba(255, 0, 255, 0.1) 100% );
}

/* Alt div için CSS */
.bottom-gradient {
    background: linear-gradient(to top, white, transparent);
}

