.fade-enter {
    opacity: 0;
    transform: translateX(100%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.fade-exit {
    opacity: 1;
    transform: translateX(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.navigation-step > div {
    height: 100vh;
    display: flex;
    overflow: hidden;
    padding-bottom: 10px; /* Space for O-tag */
}