.fade-enter {
    opacity: 0;
    transform: translateX(100%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit {
    opacity: 1;
    transform: translateX(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms, transform 300ms;
}

.navigation-step > div{
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.navigation-buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
}